
*{
    margin:0;
}

html, body{
    height:100%
}
.picborder{
    border-color:black;
    border-width:1px;
    border-style:solid;
    border-radius:50%;
    

}
.medpic{
    width:250px;
    float:left;
    position:relative;
    top:20px;
    left:5px;
    
}
.hometext{
    position:relative;
    top:80px;
}
.projecttitle{
    position:relative;
    top:120px;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom:20px;
}
h1{
    font-family: cursive;
    color: rgba(0,0,0);
    text-align: center;
    position:absolute;
    top:20%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);

}
h2{
    font-family:cursive;
    color:black;
    text-align:center;


}
h3{
    font-family: cursive;
    color:black;
    text-align:left;
    font-size:35px;
    

}
.medfont{
    font-size:18px;

}
nav{
    font-family: arial;
    position:fixed;
    height:50px;
    width:100%;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    z-index: 99;
}
.btn a{
    text-decoration:none;
    color:#fff;
    /* margin-left:30px; */
    /* line-height:50px; */

}

.sect{
    height:100%;   
    background-size: cover;
    background-attachment: fixed;
}

.subSect{
    height:50%;
    background-color:bisque;
    text-align: center;
}
.sectOne{
background-image: url("../images/image1.jpg");
}
.sectTwo{
background-image: url("https://58eca9fdf76150b92bfa-3586c28d09a33a8c605ed79290ca82aa.ssl.cf3.rackcdn.com/fender-custom-shop-2015-postmodern-stratocaster-journeyman-relic-olympic-white-maple-340512.jpg");
}
.sectThree{
background-image: url("../images/image3.jpg");
}